body 
{
  background-color: #05443f;
  text-align: center;
}
h1 
{
  color: rgb(228, 16, 129);
  border-style: solid;
  border-color:white;  
  border-width:2px;
  padding: 10px;
}
#nome
{
  text-decoration: underline;
  font-size:40px;
  color: rgb(31, 117, 117);
  background: white;
}
a
{
  color: rgb(177, 10, 93);
  font-size: 20px;
  border-style: dashed;
  border-color: rgb(167, 5, 86);
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(19, 17, 17);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: rgb(13, 13, 14);
    font-size: 18px;
}

